*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
.netlify
.tweet-cache
*.DS_Store*
*.Rhistory*
*.ipynb_checkpoints*
*__pycache__*
GA 20210101-20230210.xlsx