<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

  <div class="footer-col-wrapper">

    <div class="footer-col">
      <p><center>Blog on ML, AI & other acronyms. All opinions are my own.</center></p>
    </div>

    <div class="footer-col">
      <p style="text-align:center;">&#169; 2020 - 2023 Nikita Kozodoi</p>
    </div>

  </div>

  <div class="social-links">
    <ul class="social-media-list">
      {%- for entry in site.minima.social_links -%}
        {%- include social-item.html item = entry -%}
      {%- endfor -%}
    </ul>
  </div>

</div>

</footer>
