<div class="Box box-shadow-medium rounded-1 col-15">
    {%- if post.image -%}
      <div class="col-3 d-table-cell p-4 v-align-middle">
      <img class="image-preview " src="{{ post.image | relative_url }}" />
      </div>
    {%- endif -%}
    <div class="col-11 d-table-cell p-3 h-align-left">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
        <p class="post-meta" style = "font-size: 15px; color: var(--low-emph);">
          {{ post.date | date: date_format }}
          &middot;
          {% assign words = post.content | strip_html | number_of_words %}
          {% if words < 360 %}
            1 min read
          {% else %}
            {{ words | divided_by:180 }} min read
          {% endif %}
        </p>
      </div>
  </div>
