// width of the content area
$content-width:    1200px;
$on-palm:          800px;
$on-medium:        800px;
$on-laptop:        1200px;
$on-large:         1400px;

// background photos for pages
.container {
  position: relative;
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.75); /* Black background */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  padding-top: 0px;
  padding-bottom: 15px;
}

// page description depending on screen size
.page-desc { display: none; }
@media (max-width: 650px) {
    .page-desc { display: inline-block; }
    .cover-desc { display: none; }
}
