---
layout: base
---

<div class="home">

  {{ content | markdownify }}

  <!-- Paginate settings -->
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  
  <!-- Find sticky posts -->
  {% assign sticky_posts = site.posts %}
  {% assign sticky_posts = sticky_posts | sort: "sticky_rank", "last" %}
  {% assign sticky_posts = sticky_posts | slice: 0, 3 %}

  <!-- Sticky posts -->
  {% if site.paginate and paginator.page == 1 %}
    {%- if sticky_posts.size > 0 -%}
      <h2>Popular posts</h2>
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in sticky_posts -%}
        <li>
          {%- if site.show_image -%}
              {%- include post_list_image_card.html -%}
          {% else %}
              {%- include post_list.html -%}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endif -%}

  <!-- Non-sticky posts -->
  {%- if posts.size > 0 -%}
    <h2>Recent posts</h2>
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    {% if site.paginate and site.posts.size > site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}

  <!-- Social media feeds -->
  <hr style="height:1px;border-width:0;color:rgb(50,50,50);background-color:rgb(50,50,50)">
  <div class="one_row">
    <div class="two_column">
      <h2>Instagram</h2>
      <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
      <script type="text/javascript">
      (function(){
      var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
      i.src = "https://cdn.curator.io/published/752e435e-202b-4a5d-87d6-be4916915ffb.js";
      e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
      })();
      </script>
    </div>

    <div class="two_column">
      <h2>YouTube</h2>
      <div id="curator-feed-youtube-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div><!-- The Javascript can be moved to the end of the html page before the </body> tag --><script type="text/javascript">
        (function(){
        var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
        i.src="https://cdn.curator.io/published/033e4235-c3a5-49e8-8df6-4f512dc5731c.js";
        e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
        })();
        </script>
      
  <script src="/assets/js/mode_switcher.js"></script>
</div>